

{% extends 'base/front_base.html' %}
{% block title %}
    课程列表
{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{%  static 'css/course/course_detail.min.css' %}">

{% endblock %}
{% block main %}
    <div class="main">
    <div class="course-nav">
       <div class="nav-container">
            <h3 class="title">在线课堂</h3>
            <ul class="nav-list">
                <li class="active"><a href="#">最新课堂</a></li>
                <li><a href="#">创业知识</a></li>
                <li><a href="#">投资人说</a></li>
                <li><a href="#">明星案例</a></li>
            </ul>
       </div>
    </div>
    <div class="wrapper">
        <div class="course-wrapper">
            <div class="course-info">
                <p class="course-title">创业CEO如何避免技术决策错误</p>
                <div class="price-group">
                    <div class="share-group">
                        <span class="title">
                            分享至：
                        </span>
                        <a href="#" class="course_weixin share-item"></a>
                        <a href="#" class="course_weibo share-item"></a>
                    </div>
                    <div class="buy-group">
                      <!--  <span class="price buy">￥49.9</span>
                        <a href="#" class="buy-btn">立即购买</a>-->
                        <span class="price free">免费</span>
                    </div>
                </div>
            </div>
            <div class="video-group">

            </div>
        </div>
        <div class="bottom-wrapper">
            <div class="course-detail-wrapper">
                <div class="item-gruop">
                    <p class="item-title">课程讲师</p>
                    <div class="teacher-group">

                        <div class="avatar-group">
                            <img src="https://static-image.xfz.cn/1536563248_165.png" alt="" class="avatar">
                        </div>
                        <div class="teacher-info">
                            <p class="teacher-name">noodles</p>
                            <p class="teacher-desc">未来课堂CEO</p>
                        </div>
                    </div>
                    <P class="item-content">18年专注于品牌公关传播领域，是国内较早一批公关传播从业人员，曾供职于奥美、诺基亚、亚马逊、百事、戴尔、Uber等公司，亚马逊及Uber优步在中国的首任公关总监。</P>
                </div>
                <div class="item-gruop">
                    <p class="item-title">帮助中心</p>

                    <P class="item-content">
                                    1. 购买后的课程在线可反复观看学习，视频有效期以具体课程信息为准。 <br>
                                    2. 课程暂不支持下载观看，均为在线观看视频。 <br>
                                    3. 课程一经购买，不可转让、不可退款；仅限购买账号观看。 <br>
                                    4. 如有问题请咨询客服饭桌君： 电话：18618172287   微信：fanzhuojun888 <br>
                                </P>
                </div>
                <div class="item-gruop">
                    <p class="item-title">关于小饭桌创业课堂在线课堂</p>

                    <P class="item-content">
                                    小饭桌创业课堂在线课堂是小饭桌旗下的线上视频课程产品，汇聚顶级创业大咖导师、行业资深专家，致力于用系统、垂直的知识体系让创业者认知升级、技能进阶。小饭桌创业课堂在线课堂用知识陪伴创业者从平凡到卓越！
                                </P>
                </div>
            </div>
            <div class="recommand-wrapper">
               <p class="recommand-title">推荐课程</p>
                <ul class="course-list">
                    <li>
                            <a href="#">
                                <div class="left-group">
                                    <p class="title">教你制作抓住投资人眼球的的商业计划书</p>
                                    <p class="author">未来课堂CEO</p>
                                </div>
                                <div class="thumbnail-group">
                                    <img src="https://static-image.xfz.cn/1554346383_8.png-course.list.small" alt="" class="thumbnail">
                                </div>
                            </a>
                        </li>
                    <li>
                            <a href="#">
                                <div class="left-group">
                                    <p class="title">教你制作抓住投资人眼球的的商业计划书</p>
                                    <p class="author">未来课堂CEO</p>
                                </div>
                                <div class="thumbnail-group">
                                    <img src="https://static-image.xfz.cn/1554346383_8.png-course.list.small" alt="" class="thumbnail">
                                </div>
                            </a>
                        </li>
                    <li>
                            <a href="#">
                                <div class="left-group">
                                    <p class="title">教你制作抓住投资人眼球的的商业计划书</p>
                                    <p class="author">未来课堂CEO</p>
                                </div>
                                <div class="thumbnail-group">
                                    <img src="https://static-image.xfz.cn/1554346383_8.png-course.list.small" alt="" class="thumbnail">
                                </div>
                            </a>
                        </li>
                    </ul>
            </div>
        </div>



    </div>
</div>
{% endblock %}